{% extends 'Khujun/base_visitor.html' %}
{% block title %}রেজিস্ট্রেশন{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container">

    <div class="row justify-content-md-center">
        <div class=" col-md-6 col-sm-12" style="background-color:white;margin-top:3%">
            <div class="">
                <br>
                <div class="">
                    <h3 class="text-primary font-weight-bold text-center">রেজিস্ট্রেশন</h3>
                   <br>
                    <form class="">
                        <div class="">
                            <div class="">
                                <a class="btn btn-success btn-lg btn-block" role="button" href="{% url 'Khujun:register' %}"> শিক্ষক রেজিস্ট্রেশন </a>
                            </div>
                            <br>
                            <div class="">
                                <a class="btn btn-warning btn-lg btn-block" role="button" href="{% url 'Khujun:registers' %}">অভিভাবক রেজিস্ট্রেশন</a>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="text-dark-50" style="text-align: center">
                    Already have an account? <a href="{% url 'Khujun:mainlogin' %}">Click here</a> to log in.
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

</div>

{% endblock %}

